<div class="main-container">
  <div class="form-container">    
    <form class="form">
     <div>
      <mat-form-field class="form-data">
        <input matInput placeholder="Car Name" [(ngModel)]="datas.carName" name="carName">
      </mat-form-field>
      <mat-form-field class="form-data">
          <input matInput placeholder="Car Model" [(ngModel)]="datas.carModel" name="carModel">
      </mat-form-field>
     </div>
        <button mat-raised-button color="primary" (click)="saveInfo()">Save</button>
    </form>
  </div>