<div class="main-container">
  <!-- <div class="heder-container">
    <img clas="close-popup-button" (click)="close()" src="../../../assets//images/close.png">
  </div> -->
  <div class="form-container">    
    <form class="form">
     <div>
      <mat-form-field class="form-data">
        <input matInput placeholder="Car Name" value="{{datas.carName}}" [(ngModel)]="datas.carName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="form-data">
          <input matInput placeholder="Car Model" value="{{datas.carModel}}" [(ngModel)]="datas.carModel" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
     </div>
        <button mat-raised-button color="primary" (click)="saveInfo()">Save</button>
    </form>
  </div>